<%= render "shared/header" %>

<div class=follows>
  <h1 class="follows-log">Follower</h1>
  <hr class="line">
  <div class="follows-user">
    <ul>
      <% @users.each do |user| %>
      <div class="follows-user-list">
        <%= link_to user_path(user) do %>
          <li class="user-list"><%= user.nickname%><li>
        <% end %>
        <li>
          <% if user != current_user %>
            <% if user.followed_by?(current_user) %>
              <%=link_to user_relationships_path(user), method: :delete do %>
                <button type="button" class="unfollow-btn">フォロー中</button>
              <% end %>
            <% else %>
              <%=link_to user_relationships_path(user), method: :post do %>
                <button type="button" class="follow-btn">フォローする</button>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </div>
      <hr>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>