  <%= render "shared/header" %>
  
  <div class="mypage-posts">
    <div class="mypage-container">
      <div class="direct-message">
        <% if current_user == @user %>
          <%= link_to(rooms_path,class:"fa fa-envelope fa-4x message-btn",style: "display: flex;" ) do%>
          <% end %>
        <% end %>
        <% unless @user.id == current_user.id %>
          <%# <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %> 
          <% if @isRoom == true %>
            <%= link_to "チャット", room_path(@roomId),class:"user-show-chat" %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャット", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
          <%# <% end %> 
        <% end %>
        <span class="mypage-logo"><%= "#{@user.nickname}さんのMyPage" %></span>  
      </div>
        <%# <span class="mypage-logo"><%= "#{@user.nickname}さんのMyPage"</span> %>
      <div class="mypage-follow">
        <div id="follow_button_<%= @user.id %>">
          <%= render partial: "relationships/followcount", locals: {user: @user} %>
        </div>
      </div>
      <hr>
      <div class="posts-or-likes">
        <%= link_to "投稿", user_path(@user.id), class: "like-posts" %>
        <span class="like-likes">いいね！</span>
      </div>
    </div>
      <% if @like_posts.present? %>
        <% @like_posts.each do |post| %>
          <%= render partial: "shared/mypage", locals: {post: post} %>
        <% end %>
      <% else %>
        <P class="no-mypage-post"><%= "#{@user.nickname}さんがいいね！した投稿はありません" %></P>
      <% end %>
      <div class="page-nation">
        <%= paginate @like_posts %>
      </div> 
      <%= render "shared/footer" %>
  </div>