<div class="container">

  <%= render "shared/header" %>
  
  <div class="mypage-posts">
    <div class="mypage-container">
      <div class="direct-message">
        <% if current_user.id == @user.id %>
          <%= link_to(rooms_path,class:"fa fa-envelope fa-4x message-btn", style: "display: flex;" ) do%>
          <% end %>
        <% end %>
        <% unless @user.id == current_user.id %>
          <%# <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %> 
          <% if @isRoom == true %>
            <%= link_to "チャット", room_path(@roomId),class:"user-show-chat" %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャット", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
          <%# <% end %> 
        <% end %>
      </div>
      <h1 class="mypage-logo"><%= "#{@user.nickname}さんのMyPage"%></h1>
      <div class="mypage-follow">
        <div id="follow_button_<%= @user.id %>">
          <%= render partial: "relationships/followcount", locals: {user: @user} %>
        </div>
      </div>
      <hr>
    </div>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="top-post">
          <%= link_to "投稿者 #{post.user.nickname}", user_path(post.user.id), class:"user-name-post" %>
          <span><%= l post.created_at %></span>
        </div>
        <div class="mypage-post">
          <%= link_to(post_path(post.id),class:"mypage-link") do %>
          <%= image_tag post.image, class: 'image-main-mypage' %> 
          <% end %> 
        </div>
        <div class="footer-post">
          <div id="likes_buttons_<%= post.id %>">
            <%= render partial: "likes/like", locals: {post: post} %>
          </div>
          <hr>
          <p><%= post.caption %></p>
          <hr>
          <p><%= "アイテムカテゴリー : #{post.category.name}"%></p>
        </div>
      </div>
    <% end %>
  <div>
  
    <div class="page-nation">
      <%= paginate @posts %>
    </div>
  
    <%= render "shared/footer" %>

</div>
