  <%= render "shared/myheader" %>
  <% breadcrumb :user %>
  <div class="mypage-posts">
    <div class="mypage-container">
      <div class="direct-message">
        <% if current_user == @user %>
          <%= link_to(rooms_path,class:"fa fa-envelope fa-3x message-btn",style: "display: flex;" ) do%>
          <% end %>
        <% end %>
        <% unless @user.id == current_user.id %>
          <%# <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %> 
          <% if @is_room == true %>
            <%= link_to "チャット", room_path(@room_id),class:"user-show-chat" %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "チャット", class:"btn btn-primary btn-lg user-show-chat"%>
            <% end %>
          <% end %>
          <%# <% end %> 
        <% end %>
        <h1 class="mypage-logo"><%= "#{@user.nickname}さんのMyPage"%></h1>
      </div>
      <div class="mypage-follow">
        <div id="follow_button_<%= @user.id %>">
          <%= render partial: "relationships/followcount", locals: {user: @user} %>
        </div>
      </div>
      <hr>
      <div class="posts-or-likes">
        <span class="my-posts">投稿</span>
        <%= link_to "いいね！", likes_user_path(@user.id), class: "my-likes" %>
      </div>
    </div>
    <div class="mypage-post">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <%= render partial: "shared/mypage", locals: {post: post} %>
        <% end %>
      <% else %>
        <p class="no-mypage-post"><%= "#{@user.nickname}さんの投稿はまだありません" %></p>
      <% end %>
    </div>
      <div class="mypage-nation">
        <%= paginate @posts %>
      </div>
      <%= render "shared/footer" %>
  </div>

