<%= render "shared/header" %>

<div class="posts">
    <p class="mypage-logo"><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="top-post">
          <%= link_to "投稿者 #{post.user.nickname}", user_path(post.user.id), class:"user-name-post" %>
          <span><%= post.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div class="main-post">
          <%= image_tag post.image, class: 'image-main-post' %> 
        </div>
        <div class="footer-post">
          <%= link_to post.user.nickname, user_path(post.user.id), class:"user-name-post" %>
          <p><%= post.caption %></p>
        </div>
      </div>
    <% end %>
  <div>

  <%= render "shared/footer" %>