<div id="particles-js"></div>
  <%= render partial: "shared/header" %>
  <div id="container">
    <div class="sessions">
      <h1 class="sessions-logo">Login</h1>
      <div class="registration">
        <%= form_with model: @user, url: user_session_path, class: "new-users", local: true do |f| %>
          <%= render "shared/error_messages", model: f.object %>
          <div class="registration-field email-field">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: "例)kirei@kirei.com", class: "intext" %>
          </div>
          <div class="registration-field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上) </em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", placeholder: "半角英数含めて", class: "intext" %>
          </div>
          <div class="actions">
            <%= f.submit "Login", class:"login-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div><%= render partial: "shared/footer" %>
  <%= javascript_pack_tag 'home/particles' %>

