<%= render "shared/header" %>
<div class="chat-room">
  <p class=chat-member>チャットメンバー</p>
  <div class="chat-user-names">
    <% @entries.each do |e| %>
      <div class="chat-user-name" >
        <%= link_to "・#{e.user.nickname}", user_path(e.user_id) %>
      </div>
    <% end %>
  </div>
  <hr>
    <div class="chat">
      <% if @messages.present? %>
        <div id="message-list">
          <% @messages.each do |m| %>
            <div class="chat-hukidashi">
              <% if m.user.id == current_user.id %>
                <div class="current-message-time" >
                  <span class="time"><%= l m.created_at %></span>
                  <span class="current-message"><%= m.message %></span>
                </div>
              <% else %>
                <div class="message-time">
                  <span class="message"><%= m.message %></span>
                  <span class="time"><%= l m.created_at %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="messages-form">
      <%= form_for @message, class:"message-form" do |f| %>
        <%= f.text_field :message, placeholder: 'メッセージを入力して下さい' , class:"form-text-field", id:"message-form" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信",class: 'form-submit'%>
      <% end %>
    </div>
</div>
<%= render "shared/footer" %>