<%= render "shared/header" %>

<div class="posts">  
  <div class="post">
    <div class="top-post">
      <%= link_to "投稿者 #{@post.user.nickname}", user_path(@post.user.id), class:"user-name-post" %>
      <span><%= l @post.created_at %></span>
    </div>
    <div class="main-post">
      <div class="trash-edit">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <div class="trash">
            <%= link_to(post_path(@post.id), method: :delete, class:"fa fa-trash fa-4x trash-btn", style: "display: flex;" ) do%>
            <% end %>
          </div>
          <div class="edit">
            <%= link_to(edit_post_path(@post.id),class:"fa fa-edit fa-4x edit-btn",style: "display: flex;") do %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to(post_path(@post.id),class: "image-link") do %>
        <%= image_tag @post.image, class: 'image-main-show' %> 
      <% end %>
    </div>
    <div class="footer-show">
      <div id="likes_buttons_<%= @post.id %>">
        <%= render partial: "likes/like",locals: {post: @post} %>
      </div>
      <hr>
      <p class="caption"><%= @post.caption %></p>
      <hr>
      <p><%= "アイテムカテゴリー : #{@post.category.name}"%></p>
    </div>
  </div>

<div class="comments">
  <div class="comment">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true, class:"comment-form",id:"form") do |form| %>
        <%= form.text_area :text, placeholder: "コメントを追加...",class:"comment-area", row: "1", id:"text" %>
        <%= form.submit "コメント",class:"comment-submit",id:"submit" %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="list">
</div>

<% @comments.each do |comment| %>
  <div class="comment-dates">
    <div class="comment-text" id="comment-text">
      <div id="trash_btn_<%= comment.id%>">
        <%= render partial: "comments/comment",locals: {comment: comment} %>
      </div>
    </div>
    <hr>
  </div>
<% end %>

<div class="page-nation">
  <%= paginate @comments %>
</div>

<%= render "shared/footer" %>


<%# <% @comments.each do |comment| %>
  <%# <div class="comment-dates"> %>
    <%# <div class="comment-text" id="comment-text"> %>
      <%# <%= link_to comment.user.nickname, user_path(@post.user.id), class:"comment-username" %> 
      <%# <span><%= comment.text<span> %>
      <%# <% if user_signed_in? && current_user.id == comment.user.id %> 
        <%# <%= link_to(post_comment_path(comment.post.id,comment.id), method: :delete, class:"fa fa-trash fa-1x trash-btn-comment" ) do%> %>
        <%# <% end %>
      <%# <% end %> 
    <%# </div> %>
    <%# <hr> %>
  <%# </div> %>
<%# <% end %>

