<%= render "shared/header" %>

<div class="posts">  
  <div class="post">
    <div class="top-post">
      <%= link_to "投稿者 #{@post.user.nickname}", user_path(@post.user.id), class:"user-name-post" %>
      <span><%= @post.created_at.to_s(:datetime_jp) %></span>
    </div>
    <div class="main-post">
      <div class="trash-edit">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <div class="trash">
            <%= link_to(post_path(@post.id), method: :delete, class:"fa fa-trash fa-4x trash-btn", style: "display: flex;" ) do%>
            <% end %>
          </div>
          <div class="edit">
            <%= link_to(edit_post_path(@post.id),class:"fa fa-edit fa-4x edit-btn",style: "display: flex;") do %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to(post_path(@post.id)) do %>
        <%= image_tag @post.image, class: 'image-main-post' %> 
      <% end %>
    </div>
    <div class="footer-post">
      <%= link_to @post.user.nickname, user_path(@post.user.id), class:"user-name-post" %>
      <p><%= @post.caption %></p>
    </div>
  </div>
<div>
<%= render "shared/footer" %>